/**  Basic Page CSS **/
body {
  font-weight: 200;
  background-color: #c24311;
}

header a,
footer a {
  color: white;
}

footer {
  font-size: 0.8em;
}

.bg-primary,
.btn-primary {
  background-color: #c24311 !important;
  border: inherit;
  margin: 0.5em;
}
